.light {
  color: var(--ca-menu-header-text);
  background-color: var(--ca-menu-background-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}

.brand {
  font-size: x-large;
}

.rocks {
  font-weight: bolder;
}

.header-menu-item-holder div {
  margin: 10px 0px;
}

.light .header-menu {
  --ion-background-color: var(--ca-menu-background-color);
}

.dark {
  color: var(--ca-menu-header-text);
  background-color: var(--ca-menu-background-color);
}

.theme-icon {
  margin: 0px 7px;
}

.announcement{
  text-align: center;
  background-color: lightsalmon;
  color: black
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}