.light {
  color: var(--ca-menu-header-text);
  background-color: var(--ca-menu-background-color);
}

ion-card {
  box-shadow: 1px 1px 3px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}

.brand {
  font-size: x-large;
}

.rocks {
  font-weight: bolder;
}

.header-menu-item-holder div {
  margin: 10px 0px;
}

.light .header-menu {
  --ion-background-color: var(--ca-menu-background-color);
}

.dark {
  color: var(--ca-menu-header-text);
  background-color: var(--ca-menu-background-color);
}

.theme-icon {
  margin: 0px 7px;
}

.announcement{
  text-align: center;
  background-color: lightsalmon;
  color: black
}

.notification{
  top: 0px;
  margin: -7px -7px;
  --padding-start: 0px;
  --padding-end: 0px;
  --background-activated: var(--ca-menu-background-color);
  --ripple-color: var(--ca-menu-background-color);
}

.notification-badge {
  position: absolute;
  top: 0px;
  right: -1px;
  font-size: 0.6em;
  --padding-start: 4px;
  --padding-end: 4px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}