CR_DB_USER=postgres
CR_DB_URL=localhost
CR_DB=crowdrocks
CR_DB_PASSWORD=asdfasdf
CR_GOOGLE_BOT_PASSWORD=asdfasdf
CR_DB_PORT=5434
CR_GPT_3_PASSWORD=asdfasdf
CR_GPT_4_PASSWORD=asdfasdf

LILT_KEY=asdfasdf
SMARTCAT_ID=--smartcat-user-id-like-083XXXad-02X5-44X6-9fX7-e82bXXX1006
SMARTCAT_KEY=asdfasdf
SMARTCAT_PROFILE=--ID-from-smarttranslation-profile-url--

ADMIN_PASSWORD=asdfasdf

AWS_ACCESS_KEY_ID=asdf
AWS_SECRET_ACCESS_KEY=asdf
AWS_REGION=us-east-2
AWS_S3_REGION=us-east-2
AWS_S3_BUCKET_NAME=crowdrocks-public-files-dev

HTTP_LOGGING=false

EMAIL_SERVER=asdf

GCP_PROJECT_ID=asdf
GCP_API_KEY=asdf

OPENAI_API_KEY=asdf
