CR_DB_USER=postgres
CR_DB_URL=localhost
CR_DB=crowdrocks
CR_DB_PASSWORD=asdfasdf
CR_DB_PORT=5434
AWS_ACCESS_KEY_ID=asdf
AWS_SECRET_ACCESS_KEY=asdf
AWS_REGION=us-east-2
EMAIL_SERVER=asdf

GCP_PROJECT_ID=asdf
GCP_API_KEY=asdf